<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="weixin" >
  <test name="testOpen">
    <classes>
    	<class name="com.cpeoc.weixin.testcases.FenSiZhuanXiang"></class>
    	<class name="com.cpeoc.weixin.testcases.WeiFuWu"></class>
    	<class name="com.cpeoc.weixin.testcases.WeiShangCheng"></class>
    </classes>  
  </test>
</suite>